<launch>
  <!-- Arguments -->
  <!-- <arg name="model" default="apjr"/> -->
  <arg name="map_file" default="$(find apjr_navigation)/maps/map.yaml"/>
  <!-- <arg name="map_file" default="$(find apjr_navigation)/maps/turtlebot3_world.yaml"/> -->
  <arg name="open_rviz" default="true"/>
  <arg name="move_forward_only" default="false"/>

  <!-- Map server -->
  <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)"/>

  <!-- AMCL -->
  <include file="$(find apjr_navigation)/launch/amcl.launch"/>

  <!-- move_base -->
  <include file="$(find apjr_navigation)/launch/move_base.launch">
    <!-- <arg name="model" value="$(arg model)" /> -->
    <arg name="move_forward_only" value="$(arg move_forward_only)"/>
  </include>

  <node name="imu_filter" pkg="imu_complementary_filter" type="complementary_filter_node"/>
  <node name="ekf_se" pkg="robot_localization" type="ekf_localization_node" clear_params = "true">
    <rosparam command="load" file="$(find apjr_navigation)/config/ekf.yaml"/>
    <remap from="odometry/filtered" to="odom/"/>

  </node>
  
  <!-- rviz -->
  <group if="$(arg open_rviz)"> 
    <node pkg="rviz" type="rviz" name="rviz" required="true"
          args="-d $(find apjr_navigation)/rviz/apjr_navigation.rviz"/>
  </group>
</launch>