<?xml version="1.0"?>

<launch>
  <!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find apjr_bringup)/worlds/Possible_Scenario.world"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="recording" value="false"/>
    <arg name="debug" value="false"/>
  </include>

    <!-- Convert an xacro and put on parameter server -->
    <param name="robot_description" command="$(find xacro)/xacro '$(find apjr_bringup)/robot_description/urdf/apjr.xacro'" />

    <!-- Spawn a robot into Gazebo -->
    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" output="screen" args="-param robot_description -urdf -model apjr" />

    <!-- Load joint controller configurations from YAML file to parameter server -->
    <rosparam file="$(find apjr_bringup)/robot_control/robot_control.yaml" command="load"/>

    <!-- load the controllers -->
    <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
      output="screen" ns="/robot" args=" joint_drive_wheel_controller 
                                        joint_drive_disk_controller"/>

    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"  output="screen">
    </node>
    
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"  output="screen" respawn="false" respawn_delay="0">
    </node>
    <!-- <include file="/home/abdelrhman/catkin_ws/src/apjr_robot/apjr_control/launch/rosserial.launch">
    </include> -->

</launch>