<?xml version="1.0"?>
<launch>

  <node pkg="rosserial_python" type="serial_node.py" name="rosserial" output="screen">
    <param name="port" value="/dev/ttyACM0" />
    <param name="baud" value="57600" />
  </node>
  <!-- <node name="imu_filter_node_for_orientation" pkg="imu_complementary_filter" type="complementary_filter_node" >
  </node> -->
  
  <!-- <node name="rpy_tf" pkg="apjr_bringup" type="tf_broadcaster_imu.py" >
  </node> -->

</launch>